.App {
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.App:after {
  content : "";
  position: absolute;
  background-image: url("./background.jpg");
  background-color:snow;
  background-size: 50%;
  width: 100%;
  height: 100%;
  opacity : 0.13;
  z-index: -1;
}

#background-credit {
  margin-top: 15px;
  font-size: 13px;
}